@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3rem;
}



.grid {
  border: 2px solid #ffd080;
  width: 450px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
}
.grid div {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
}

.invader {
background-color: chartreuse;
border-radius: 30px;
}

.shoot {
  background-color: #db55dd;
}

.laser {
  background-color: #00e5ed;
}

.explode {
  background-color: #f83b3a;
}

.start-container {
  background-color: #33333391;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  color: #f83b3a;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}


.start-container button {
  border: solid transparent;
  padding: 1%;
  background-color: transparent;
  color: #f83b3a;
  cursor: pointer;
}



.select {
  width: 0px;
  height: 0px;
  border-top: 12.5px solid transparent;
  border-bottom: 12.5px solid transparent;
  border-left: 25px solid #f83b3a;
  margin: 2.5px;
}
.select-box {
  display: flex;
  flex-direction: row-reverse;
  gap: .3rem;
}