@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3rem;
}



.grid {
  border: 2px solid #ffd080;
  width: 450px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
}
.grid div {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
}

.invader {
background-color: chartreuse;
border-radius: 30px;
}

.shoot {
  background-color: #db55dd;
}

.laser {
  background-color: #00e5ed;
}

.explode {
  background-color: #f83b3a;
}
